@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fonts.css');

html,
body {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark body {
  background: #14191f;
}
@layer components {
  .navlink.active {
    @apply rounded-md border border-darkgray bg-gray shadow shadow-darkgray dark:border-transparent dark:bg-blue dark:shadow-blue;
  }
}

html.light *::selection {
  background: #000;
  color: #fff;
}

html.dark *::selection {
  background: #fff;
  color: #000;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 425px) {
  .container {
    padding: 0 20px;
  }
}

.main #notyet {
  min-height: 491px;

  height: 100%;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 400px) {
  .home {
    display: none;
  }
}
@media (max-width: 768px) {
  .header-title {
    display: none;
  }
}
@media (min-width: 769px) {
  .heading {
    display: none;
  }
}
@media (max-width: 767px) {
  .heading {
    font-size: 50px;
  }
}
@media (max-width: 668px) {
  .heading {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .heading {
    font-size: 31px;
  }
}
@media (max-width: 424px) {
  .heading {
    font-size: 25px;
  }
}
@media (max-width: 353px) {
  .heading {
    font-size: 22px;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#resume #projects .container {
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: none;
}
